.App {
  text-align: center;
}

.Avatar {
  margin: 40px 40px;
  border: 2px solid white;
}

.App-header {
  /* min-height: 100vh; */
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;

}

.App-intro {
  /* margin: 50px; */
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.App-description {
  /* margin: 20px; */
  justify-content: center;
  /* align-items: center; */
  /* display: flex; */
  font-size: 1.2em;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.App-link {
  color: #61dafb;
}


